* 
{
	margin: 0px; 
    border: 0px;
    /* padding:0px; */
    /* font: 14px Arial; */
}
button
{
    min-height: 24px;
    min-width: 24px;
    padding: 4px 0;
    font-weight: normal;
}
#myStatusBar
{
    background-color: whitesmoke; 
    margin: 0 -10px;
    padding: 0 4px;
    border-top: 1px solid lightgrey;
    /* color: red; */
}
